/* --- core layout --- */
.analyze-chat-area {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 110vh;
  width: 100%;
  background-color: #15171f;
  border-radius: 8px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); */
  overflow: hidden;
  box-sizing: border-box;
}
.analyze-messages {
  flex-grow: 1;
  display: flex;
  padding-bottom: 1rem;
  overflow-y: auto;
  flex-direction: column;
  scroll-behavior: smooth;
  width: 98%;
  gap: 10px;
  
  animation: fadeIn 0.6s ease;
  margin-bottom: 14rem;
}
.analyze-messages::-webkit-scrollbar {
  width: 8px;
}
.analyze-messages::-webkit-scrollbar-track {
  background: #1a1d25;
}
.analyze-messages::-webkit-scrollbar-thumb {
  background-color: #5b597b;
  border-radius: 4px;
}
/* --- user/bot message bubbles --- */
.analyze-message {
  margin-top: 5rem;
  padding: 10px 15px;
  border-radius: 18px;
  margin-right: 2rem;
  margin-left: 5rem;
  max-width: 8rem;
  min-width: auto;
  word-break: break-word;
  text-wrap: break-word;
  display: flex;
  opacity: 0;
  height: auto;
  animation: slideIn 0.3s ease forwards;
}
.analyze-message.user {
  background-color: #303547;
  color: #f8f8f2;
  align-self: flex-end;
  max-width: 25rem;
  font-size: 1.2rem;
}

.analyze-message.bot {
  background-color: #15171f;
  color: #f8f8f2;
  align-self: flex-start;
  font-size: 1.3rem;
  max-width: 15rem;
}

/* --- Text Input & Upload --- */

.Analyzer-chat-box {
  position:fixed;
  bottom: 0.5rem;
  width: 90%;
  flex: 1;
  right: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  background-color:#1e1e2e;
  border-radius: 20px;
  left:4%;
  gap:10px;
}

.Analyzer-Text-Area {
  flex-grow: 1;
  background-color: #1a1a2b;
  color: #eceff4;
  align-content: center;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 1.5rem;
  resize: none;
  height: 50px;
  transition: box-shadow 0.2s ease;
  overflow:auto;
}
.Analyzer-Text-Area:-webkit-scrollbar {
  width: 8px;
  background-color: #2e3440;
}
.Analyzer-Text-Area::-webkit-scrollbar-track {
  background: #1f222c;
}
.Analyzer-Text-Areas::-webkit-scrollbar-thumb {
  background-color: #5b597b;
  border-radius: 7px;
}
.Analyzer-Text-Area:focus {
  box-shadow: 0 0 8px #88c0d0;
  outline: none;
}

.Analyzer-Text-Area::placeholder {
  color: #e7eefb;
}

.Analyzer-submit-button {
  background-color: #47586a;
  color: #f8f8f2;
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.Analyzer-submit-button:hover {
  background-color: #6689aa;
}

.Analyzer-Upload-Button {
  background-color: #2f3542;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Analyzer-Upload-Button:hover {
  background-color: #57606f;
}

/* --- Animations --- */
@keyframes slideIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
